#todoForm input {
    width: 400px;
    height: 80px;
    
    font-size: 50px;

    background-color: transparent;
    border: none;
    border-bottom: black 3px solid;
}

#todoList {
    font-size: 25px;

}

#todoList li {
    display: inline;
}

#todoList button {
    background-color: transparent;
    border: none;
    font-size: 25px;
}